.env
.env.production
.env.local
.env.go
.DS_Store
data/
artifacts/
bin/
*.test
web/node_modules/
web/dist/
web/*.tsbuildinfo
internal/webassets/dist/*
!internal/webassets/dist/.gitkeep
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins-dependencies
mobile/.idea/
mobile/*.iml
mobile/android/*.iml
mobile/android/local.properties
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
